.cards {
    margin: 75px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16vw, 1fr));
    gap: 20px;
}

@media (max-width: 1200px) {
    .cards {
        margin: 50px;
        grid-template-columns: repeat(2, minmax(16vw, 1fr));
    }
}

@media (max-width: 800px) {
    .cards {
        display: flex;
        flex-direction: column;
    }
}

.card {
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.123);
}

.card:hover {
    transform: scale(1.01);
    transition: transform 0.8s ease;
    background-color: rgba(34, 34, 34, 0.123);
    transition: background-color 0.3s ease;
}

.card__image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    display: block;
}

.name {
    line-height: 1.8;
    font-size: 1.5em;
    padding: 20px;
}

.role {
    line-height: 0.1;
    font-size: 1em;
    padding: 20px;
}

.card__description {
    margin-top: auto;
    line-height: 1.5;
    font-size: 0.8em;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    display: flex;
}